@use './variables';
.personal-info {
    width: 100%;
    max-width: 400px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;

    h1 {
        color: variables.$primary-color;
        font-family: variables.$font-stack;
        text-align: center;
    }
    .profile-img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: block;
        margin: 1rem auto;
    }
    p, a {
        text-align: center;
        width: 100%;
    }
}
